{% extends 'admin_base.html' %}
{% block main %}

<div class="card shadow">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange;">Upload Checkout Image</h5>
        <div class="container-fluid">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Checkout Image</label>
                            <input type="file" name="image" class="form-control-file" required>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Upload" class="m-2 px-3 btn btn-primary">
            </form>
        </div>
    </div>
</div>

{% if msg %}
<script>
    alert('{{ msg }}');
</script>
{% endif %}

{% endblock %}
