{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/jpeg">
    <title>Texas TV Landing Page</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <style>
        .banner-section {
            background-image: url("/static/images/banner-img.png");
            background-size: cover;
            background-position: center;
        }
    </style>


    <!-- <!=== Swiper cdn link ===> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <!-- <!=== FontAwsome cdn link ===> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- <!======= Css File link ======> -->
    <link href="./css/output.css" rel="stylesheet">

    <!-- <!=== Google Fonts ===> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">

</head>

<body>
    <!-- <!======= Loader ======> -->
    <div id="loader" class="fixed top-0 left-0 w-full h-full bg-dark flex justify-center items-center z-[99999]">
        <div class="w-20 h-20 border-8 border-white border-dotted rounded-full animate-spin"></div>
    </div>

    <!-- <!======= Header-Section ======> -->
    <section class="relative bg-no-repeat bg-cover bg-center pt-20" style="background-image: url('{% static "
        images/banner-img.png" %}');">




        <header id="sticky-header"
            class="fixed top-6 right-0 left-0 w-full  bg-transparent transition-all duration-300 z-[9999] py-1">
            <div class="flex justify-between items-center max-w-[1380px] w-[90%] mx-auto rounded">
                <div>
                    <a href="index.html"> <img src="{% static 'images/logo.png' %}" class="w-[80px] md:w-auto"
                            alt=""></a>
                </div>
                <div class="flex gap-3 md:gap-6">
                    <div class="cursor-pointer">
                        <a href=""><img src="{%static 'images/icons/fb-icon.png' %}" alt=""></a>
                    </div>
                    <div class="cursor-pointer">
                        <a href=""><img src="{% static 'images/icons/yt-icon.png' %}" alt=""></a>
                    </div>
                    <div class="cursor-pointer">
                        <a href=""><img src="{% static 'images/icons/twitter-icon.png' %}" alt=""></a>
                    </div>
                    <div class="cursor-pointer">
                        <a href=""><img src="{% static 'images/icons/insta-icon.png' %}" alt=""></a>
                    </div>
                    <div>
                        <button class="hidden sm:block bg-red-600 p-2 rounded-md text-white hover:bg-red-700">
                            Download
                        </button>
                    </div>
                </div>
            </div>
        </header>

        <div class="banner-section flex flex-col lg:flex-row  gap-8 max-w-[1380px] w-[90%]  mx-auto justify-center ">
            <div class="text-white flex flex-col gap-8 md:gap-10 pt-28">
                <h1
                    class="text-[40px] md:text-[45px] lg:text-[64px] font-bold max-w-[690px] leading-[60px] md:leading-[75px]">
                    A
                    collaborative Live
                    Local Texas</h1>
                <p class="max-w-[600px]">Lorem ipsum dolor sit amet consectetur. Egestas mauris
                    habitasse adipiscing massa parturient. Sagittis porttitor
                    porta sed lacus </p>
                <div class="flex gap-10">
                    <div><img src="{% static 'images/apple-img.png' %}" alt=""></div>
                    <div><img src="{% static 'images/google-img.png' %}" alt=""></div>
                </div>
            </div>
            <div class="">
                <img src="{% static 'images/banner-img2.png' %}" class="w-[400px] md:w-auto pb-20 lg:pb-0" alt="">
            </div>
        </div>

        <div
            class="grid grid-cols-3  bg-white shadow-lg max-w-[1380px] w-[90%] mx-auto rounded-lg 3xl:mt-[4%] lg:px-20  py-8  border-4 ">
            <div class="flex flex-col  gap-2 md:gap-4  lg:place-items-start">
                <h2 class="text-skyblue text-2xl lg:text-5xl font-bold text-center">+200M</h2>
                <div class="flex justify-center items-center gap-2 md:gap-4">
                    <img src="{% static 'images/icons/share-icon.png' %}" class="w-6 lg:w-auto" alt="">
                    <p class="md:text-3xl">Download</p>
                </div>
            </div>
            <div class="flex flex-col  gap-2 md:gap-4  lg:border-l-2 border-crimson ">
                <h2 class="text-skyblue text-2xl lg:text-5xl font-bold text-center">+480M</h2>
                <div class="flex justify-center items-center gap-2 md:gap-4">
                    <img src="{% static 'images/icons/users-icon.png' %}" class="w-6 lg:w-auto" alt="">
                    <p class="md:text-3xl">Users</p>
                </div>
            </div>
            <div class="flex flex-col gap-2 md:gap-4 lg:border-l-2 border-crimson  lg:place-items-end ">
                <h2 class="text-skyblue text-2xl lg:text-5xl font-bold text-center">+180M</h2>
                <div class="flex justify-center items-center gap-2 md:gap-4">
                    <img src="{% static 'images/icons/rating-icon.png' %}" class="w-6 lg:w-auto" alt="">
                    <p class="md:text-3xl">Ratings</p>
                </div>
            </div>
        </div>

    </section>

    <!-- <!======= About-Section ======> -->
    <!-- <!======= About-Section ======> -->
    <section id="about">
        <div class="max-w-[1380px] w-[90%]  mx-auto py-12 md:py-20">
            <div class="caption text-center">
                <h2 class="text-4xl md:text-5xl font-bold">About Our App</h2>
                <p class="md:max-w-[75%] mx-auto mt-6 text-xl text-[#444444]">It is a long established fact that a
                    reader
                    will be
                    distracted by
                    the content
                    of a page when looking
                <p>at its layout. The point of using normal distribution.</p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center py-8 md:py-12">
                <div class="flex justify-center">
                    <img src="{% static 'images/about-img.png' %}" class="w-[400px] md:w-auto  shrink-0" alt="">
                </div>
                <div class="flex flex-col gap-5 lg:gap-12">
                    {% for feature in about_feature %}
                    <div class="flex flex-col gap-2 lg:gap-4">
                        <div class="flex gap-4 items-center">
                            <div class="shrink-0 mt-1">
                                <img src="{{ feature.icon.url }}" alt="">
                            </div>
                            <h3 class="text-xl font-bold uppercase">{{ feature.title }}</h3>
                        </div>
                        <p class="ml-11 text-aqua">{{ feature.description }}</p>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>

        </div>
    </section>

    <!-- <!======= Features-Section ======> -->
    <section id="features" class="bg-[#071621]">
        <div class="max-w-[1380px] w-[90%]  mx-auto py-16 md:py-20">
            <div class="caption text-center text-white">
                <h2 class="text-4xl md:text-5xl font-bold">App Features</h2>
                <p class="md:max-w-[75%] mx-auto mt-6 text-xl ">It is a long established fact that a
                    reader will be distracted by the content of a page when looking at its layout. The point of using
                    normal distribution.</p>
            </div>
            <div class="text-white flex flex-col gap-4 justify-center items-center py-8 lg:py-12">
                <div class="">
                    <img src="{% static 'images/icons/features-icon1.png' %}" alt="">
                </div>
                <h2 class="text-2xl font-bold uppercase">Full free chat</h2>
                <p class="text-lg font-thin lg:max-w-[350px] mx-auto text-center">Lorem ipsum dolor sit amet,
                    consectetur
                    adipiscing
                    elit.
                </p>
            </div>

            <div class="grid  lg:grid-cols-3 gap-12">
                <div class="">
                    <div class="text-white flex flex-col gap-4 justify-center items-center lg:items-end py-8 lg:py-12 ">
                        <div class="flex justify-end items-end">
                            <img src="{% static 'images/icons/features-icon2.png' %}" alt="">
                        </div>
                        <h2 class="text-2xl font-bold uppercase text-center lg:text-end">unlimited features</h2>
                        <p class="text-lg font-thin lg:w-[90%] text-center lg:text-end">Lorem ipsum dolor sit amet,
                            consectetur
                            adipiscing elit.
                        </p>
                    </div>
                    <div class="text-white flex flex-col gap-4 justify-center items-center lg:items-end py-8 lg:py-12 ">
                        <div class="flex justify-end items-end">
                            <img src="{% static 'images/icons/features-icon4.png' %}" alt="">
                        </div>
                        <h2 class="text-2xl font-bold uppercase text-center lg:text-end ">awesome ui design</h2>
                        <p class="text-lg font-thin lg:w-[90%] text-center lg:text-end">Lorem ipsum dolor sit amet,
                            consectetur
                            adipiscing elit.
                        </p>
                    </div>

                </div>

                <div class="flex justify-center items-center">
                    <img src="{% static 'images/feature-img.png' %}" alt="" class="w-[400px] h-auto object-contain">
                </div>

                <div class="">
                    <div
                        class="text-white flex flex-col gap-4 justify-center items-center lg:items-start py-6 lg:py-12">
                        <div class="">
                            <img src="{% static 'images/icons/features-icon3.png' %}" alt="">
                        </div>
                        <h2 class="text-2xl font-bold uppercase text-center lg:text-start">iso & android version</h2>
                        <p class="text-lg font-thin lg:w-[90%] text-center lg:text-start">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.
                        </p>
                    </div>
                    <div
                        class="text-white flex flex-col gap-4 justify-center items-center lg:items-start  py-6 lg:py-12">
                        <div class="">
                            <img src="{% static 'images/icons/features-icon5.png' %}" alt="">
                        </div>
                        <h2 class="text-2xl font-bold uppercase text-center lg:text-start">retina ready graphic's</h2>
                        <p class="text-lg font-thin lg:w-[90%] text-center lg:text-start">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.
                        </p>
                    </div>

                </div>
            </div>

            <div class="text-white flex flex-col gap-4 justify-center items-center pt-6 lg:pt-12">
                <div class="">
                    <img src="{% static 'images/icons/features-icon1.png' %}" alt="">
                </div>
                <h2 class="text-2xl font-bold uppercase">Full free chat</h2>
                <p class="text-lg font-thin max-w-[350px] mx-auto text-center">Lorem ipsum dolor sit amet, consectetur
                    adipiscing
                    elit.
                </p>
            </div>

        </div>
    </section>

    <!-- <!======= Showcase-Section ======> -->
    <section id="showcase">
        <div class="relative w-[90%] mx-auto py-12 md:py-24 max-w-[1380px]">
            <div class="caption text-center">
                <h2 class="text-3xl md:text-5xl font-bold">Checkout Our App Interface Look</h2>
                <p class="md:max-w-[75%] mx-auto mt-6 text-xl text-[#444444]">
                    It is a long established fact that a reader will be distracted by the content of a page when looking
                    at its layout.
                </p>
            </div>

            <!-- Swiper Navigation Buttons -->
            <div class="event-button-prev group">
                <p src="{% static 'images/icons/prev-icon.png' %}"
                    class="flex justify-center items-center absolute top-[60%] -left-3 md:-left-12 w-8 h-8 rounded-full border border-crimson group-hover:bg-crimson cursor-pointer transform -translate-y-1/2 z-20"
                    alt="">
                    <i class="fa-solid fa-chevron-left text-crimson group-hover:text-white"></i>
                </p>
            </div>

            <div class="event-button-next group">
                <p src="{% static 'images/icons/next-icon.png' %}"
                    class="flex justify-center items-center absolute top-[60%]  -right-3 md:-right-12 w-8 h-8 rounded-full border border-crimson group-hover:bg-crimson cursor-pointer transform -translate-y-1/2 z-20"
                    alt="">
                    <i class="fa-solid fa-chevron-right text-crimson group-hover:text-white"></i>
                </p>
            </div>

            <!-- Swiper Main Container -->
            <div class="swiper mySwiper  z-10  w-[90%] md:w-auto mt-11">
              
                    <div class="swiper-wrapper">
                        {% for img in swip %}
                        <div class="swiper-slide">
                            <img src="{{ img.image.url }}" alt="">
                        </div>
                        {% endfor %}
                    </div>
              
            </div>

            <!-- Custom Pagination -->
            <div class="custom-pagination flex justify-center absolute  md:!bottom-8 right-1/2 transform  space-x-2">

            </div>
    </section>

    <!-- <!======= Download-Section ======> -->
    <section class="bg-[#F7F7F7]">
        <div class="max-w-[1380px] w-[90%]  mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-12 md:gap-16 items-center py-12 md:py-20">
                <div class="flex flex-col gap-10 lg:gap-12">
                    <div class="flex flex-col gap-2 lg:gap-4 ">
                        <div class="caption text-center md:text-start">
                            <h2 class="text-3xl  md:text-[40px] font-bold mb-6 md:mb-10 leading-[60px] ">
                                Download App Now
                            </h2>
                            <p class=" mt-6 text-xl text-[#444444]">It is a long established fact that a reader will be
                                distracted
                                by the content of a page when looking at its layout.
                                The point of using normal distribution.</p>
                        </div>
                    </div>
                    <div class="flex gap-6 md:gap-10 justify-center md:justify-start">
                        <div><img src="{% static 'images/apple-img.png' %}" alt=""></div>
                        <div><img src="{% static 'images/google-img.png' %}" alt=""></div>
                    </div>
                    <div class="flex gap-4 md:gap-8 justify-center md:justify-start">
                        <div
                            class="bg-crimson px-4 py-3 lg:p-4 text-white flex flex-col gap-1 justify-center items-center rounded-xl">
                            <div><img src="{% static 'images/icons/download-icon.png' %}" class="w-8" alt=""></div>
                            <h3 class="text-sm lg:text-xl font-semibold lg:font-bold uppercase">59865</h3>
                            <p class="text-sm lg:text-xl font-semibold lg:font-bold uppercase cursor-pointer">Download
                            </p>
                        </div>
                        <div
                            class="bg-crimson px-4  py-3 lg:p-4 text-white flex flex-col gap-1 justify-center items-center rounded-xl">
                            <div><img src="{% static 'images/icons/like-icon.png' %}" class="w-8" alt=""></div>
                            <h3 class="text-sm lg:text-xl font-semibold lg:font-bold uppercase">59865</h3>
                            <p class="text-sm lg:text-xl font-semibold lg:font-bold uppercase cursor-pointer">Download
                            </p>
                        </div>
                        <div
                            class="bg-crimson px-4 py-3 lg:p-4 text-white flex flex-col gap-1 justify-center items-center rounded-xl">
                            <div><img src="{% static 'images/icons/star-icon.png' %}" class="w-8" alt=""></div>
                            <h3 class="text-sm lg:text-xl font-semibold lg:font-bold uppercase">59865</h3>
                            <p class="text-sm lg:text-xl font-semibold lg:font-bold uppercase cursor-pointer">Download
                            </p>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center">
                    <img src="{% static 'images/download-img.png' %}" class="w-[400px] md:w-auto  shrink-0" alt="">
                </div>
            </div>

        </div>
    </section>

    <!-- <!======= Testimonial -Section ======> -->
    <section id="testimonials">
        <div class="relative w-[90%] mx-auto py-12 md:py-20 max-w-[1380px]">
            <div class="caption text-center">
                <h2 class="text-3xl md:text-5xl font-bold">What Our Customer Saying</h2>
                <p class="md:max-w-[75%] mx-auto mt-6 text-xl text-[#444444]">
                    It is a long established fact that a reader will be distracted by the content of a page when looking
                    at its layout. The point of using normal distribution.
                </p>
            </div>

            <!-- Swiper Main Container -->
            <div class="swiper customerSwiper z-10 md:w-auto mt-11">
                <div class="swiper-wrapper">
                    {% for testimonial in testimonials %}
                    <div class="swiper-slide bg-white px-8 py-12 rounded-2xl shadow-sm border-2">
                        <div class="flex gap-2">
                            <span><img src="{% static 'images/icons/rating-icon2.png' %}" alt=""></span>
                            <span><img src="{% static 'images/icons/rating-icon2.png' %}" alt=""></span>
                            <span><img src="{% static 'images/icons/rating-icon2.png' %}" alt=""></span>
                            <span><img src="{% static 'images/icons/rating-icon2.png' %}" alt=""></span>
                        </div>
                        <p class="mt-4 leading-8">
                            {{ testimonial.text }}
                        </p>

                        <div class="mt-12 flex gap-5 items-center">
                            <div class="w-16 h-16 rounded-full overflow-hidden border-4 border-white shadow-lg">
                                <img src="{{ testimonial.photo.url }}" class="rounded-full" alt="">
                            </div>
                            <div>
                                <h3 class="text-2xl font-bold">{{ testimonial.name }}</h3>
                                <p class="text-gray-500">{{ testimonial.role }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                  
                </div>
            </div>

            <!-- Custom Pagination -->
            <div class="custom-pagination2 flex justify-center absolute md:!bottom-8 right-1/2 transform space-x-2">
            </div>
        </div>
    </section>


    <!-- <!======= Downloads-Section2 ======> -->
    <section class="bg-gradient-to-tr from-[#2F9DEB] via-[#2F9DEB] via-70% to-[#69EFFB] mt-12 md:mt-20">
        <div class="max-w-[1380px] w-[90%] mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-12 md:gap-16 items-center pt-12 md:pt-8">
                <div class="flex flex-col gap-10 lg:gap-12">
                    <div class="flex flex-col gap-2 lg:gap-4">
                        <div class="caption text-white text-center md:text-start">
                            <h2 class="text-3xl md:text-[40px] font-bold mb-8 leading-[60px]">Texas TV Available for
                                all
                                Devices</h2>
                            <p class="mt-6 text-xl">It is a long established fact that a reader will be distracted
                                by the content of a page when looking at its layout.
                                The point of using normal distribution.</p>
                        </div>
                    </div>
                    <div class="flex flex-col gap-6">
                        <h2 class="text-2xl lg:text-4xl text-center md:text-start font-bold text-white">Download Our
                            App</h2>
                        <div class="flex gap-6 md:gap-10 justify-center md:justify-start">
                            <div><img src="{% static 'images/apple-img.png' %}" alt=""></div>
                            <div><img src="{% static 'images/google-img.png' %}" alt=""></div>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center">
                    <img src="{% static 'images/download-img2.png' %}" class="w-[300px] md:w-auto shrink-0" alt="">
                </div>
            </div>
        </div>
    </section>


    <!-- <!======= FAQs-Section ======> -->
    <section id="faqs" class="bg-[#F7F7F7] pb-20 md:pb-52">
        <div class="max-w-[1380px] w-[90%] mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-12 md:gap-16 items-center py-12 md:py-20 ">
                <div class="flex justify-center">
                    <img src="{% static 'images/footer-img.png' %}" class="w-[400px] md:w-auto shrink-0" alt="">
                </div>
                <div class="">
                    <h2 class="text-3xl md:text-[40px] font-bold mb-10 leading-[70px] ">
                        Frequently Asked Questions
                    </h2>

                    <div class="flex flex-col gap-4">

                        <!-- Accordion Item -->
                         {% for item in items %}
                        <div class="border-b-2 bg-white shadow-sm">
                            <button
                                class="flex justify-between items-center w-full p-4 text-lg font-semibold toggle-btn">
                                <p class="truncate">{{item.title}}</p>
                                <span class="text-red-500 text-2xl transition-transform duration-300">+</span>
                            </button>
                            <div class="accordion-content text-gray-600 px-4 pb-0">
                                <p class="py-1">{{item.content}}</p>
                            </div>

                        </div>
                        {% endfor %}

                       

                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- <!======= Scroll to Top Button  ======> -->
    <button id="scrollToTopBtn"
        class="fixed bottom-6 right-4  p-3 inline !w-14  rounded-md bg-coral text-white text-xl shadow-lg transition-opacity opacity-0 bg-red-600 hover:bg-crimson z-[9999999]">
        <i class="fa-solid fa-arrow-up"></i>
    </button>

    <!-- <!======= Footer-section ======> -->
    <section class="relative">
        <div class="absolute -top-20 md:-top-44 left-1/2 -translate-x-1/2 w-[90%] max-w-[800px] z-50">
            <img src="{% static 'images/Rectangle.png' %}" alt="Phone Mockup" class="w-full">
        </div>
    </section>

    <footer class="bg-[#000F24] text-white border-b-2 border-white relative z-10">
        <div
            class="max-w-[1380px] w-[90%] mx-auto grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-5 leading-9 pt-28 pb-7 gap-8 md:gap-10">
            <div class="sm:col-span-2">
                <div class="flex flex-col gap-4 pb-3 md:pb-12 justify-center">
                    <div><img src="{% static 'images/footer-logo.png' %}" alt=""></div>
                </div>
                <div class="flex flex-col gap-6">
                    <div class="flex gap-6 md:gap-6">
                        <div><img src="{% static 'images/apple-img.png' %}" class="w-[140px]" alt=""></div>
                        <div><img src="{% static 'images/google-img.png' %}" class="w-[140px]" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="grid-cols-2 sm:col-span-1">
                <h3 class="text-lg md:text-[25px] font-bold leading-8 uppercase">Quick Links</h3>
                <ul class="flex flex-col md:gap-4 mt-3 md:mt-6">
                    <li class="text-[16px] font-normal hover:underline underline-offset-8 cursor-pointer"><a
                            href="#about">About Us</a></li>
                    <li class="text-[16px] font-normal hover:underline underline-offset-8 cursor-pointer"><a
                            href="#features">Features</a></li>
                    <li class="text-[16px] font-normal hover:underline underline-offset-8 cursor-pointer"><a
                            href="#showcase">Showcase</a></li>
                    <li class="text-[16px] font-normal hover:underline underline-offset-8 cursor-pointer"><a
                            href="#testimonials">Testimonials</a></li>
                    <li class="text-[16px] font-normal hover:underline underline-offset-8 cursor-pointer"><a
                            href="#faqs">FAQ</a></li>
                </ul>
            </div>
            <div>
                <h3 class="text-lg md:text-[25px] font-bold leading-8 uppercase">SOLUTIONS</h3>
                <ul class="flex flex-col md:gap-4 mt-3 md:mt-6">
                    <li class="text-[16px] font-normal hover:underline underline-offset-8 cursor-pointer"><a
                            href="">Guest App</a></li>
                    <li class="text-[16px] font-normal hover:underline underline-offset-8 cursor-pointer"><a
                            href="">Staff App</a></li>
                    <li class="text-[16px] font-normal hover:underline underline-offset-8 cursor-pointer"><a
                            href="">Branding</a></li>
                </ul>
            </div>
            <div>
                <h3 class="text-lg md:text-[25px] font-bold leading-8 uppercase">DROP US A LINE</h3>
                <ul class="flex flex-col md:gap-4 mt-3 md:mt-6">
                    <li class="text-[16px] font-normal hover:underline underline-offset-8 cursor-pointer"><a
                            href="https://mail.google.com/mail/?view=cm&to=info@texastv.com"
                            target="_blank">info@texastv.com</a></li>
                    <li class="text-[16px] font-normal hover:underline underline-offset-8 cursor-pointer">
                        <a href="flex">
                            <span class="inline-block font-bold">CALL US</span>
                            <p class="-mt-2">0 (111) 111 1111</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <p class="max-w-[1380px] w-[90%] mx-auto text-center text-[16px] border-t border-white py-8">
                Copyright © info Texas Tv, All rights reserved
            </p>
        </div>
    </footer>


    <!-- <!======= Swiper JS cdn ======> -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


    <!-- <!======= Main JS file ======> -->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>