@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
}

html {
    scroll-behavior: smooth;
}



/*-========== Swiper CSS =========*/
.mySwiper .swiper-slide {
    transition: transform 0.3s ease-in-out;
}

.mySwiper .swiper-slide {
    transform: scale(1.2);
    opacity: 1;
}

/*-========== Style for all pagination bullets =========*/
.swiper-pagination-bullet,
.custom-bullet {
    width: 10px;
    height: 10px;
    background-color: #FA0405 !important;
    opacity: 1;
    margin: 0 5px;
    border-radius: 50%;
    display: inline-block;
    width: 14px;
    height: 14px;
}

/*-========== Style for active pagination bullet  =========*/
.swiper-pagination-bullet-active,
.custom-bullet.swiper-pagination-bullet-active {
    background-color: #000000 !important;
    opacity: 1;
    width: 17px;
    height: 17px;
}

/*-========== Center pagination  =========*/
.custom-pagination {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    /* bottom: 35px !important; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*-========== Center pagination  =========*/
.custom-pagination2 {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    /* bottom: 35px !important; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 8px);
    top: var(--swiper-pagination-top, auto);
    left: 0 !important;
    width: 100%;
}




/*-========== Accordion CSS  =========*/
.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}